{%- case forloop_index -%}
  {%- when 1 -%}
    {% if settings.customer_icon_1 != blank %}
      <i class="account-menu__icon">{{ settings.customer_icon_1 }}</i>
    {% endif %}
  {%- when 2 -%}
    {% if settings.customer_icon_2 != blank %}
      <i class="account-menu__icon">{{ settings.customer_icon_2 }}</i>
    {% endif %}
  {%- when 3 -%}
    {% if settings.customer_icon_3 != blank %}
      <i class="account-menu__icon">{{ settings.customer_icon_3 }}</i>
    {% endif %}
  {%- when 4 -%}
    {% if settings.customer_icon_4 != blank %}
      <i class="account-menu__icon">{{ settings.customer_icon_4 }}</i>
    {% endif %}
  {%- when 5 -%}
    {% if settings.customer_icon_5 != blank %}
      <i class="account-menu__icon">{{ settings.customer_icon_5 }}</i>
    {% endif %}
{%- endcase -%}

<span class="account-menu__title">{{ link_title }}</span>
